html, body{
    width: 100%;
    height: 100%;
    min-width: 500px;
    min-height: 500px;
    overflow: hidden;
    background: #4b4c4b;
}

.heart{
    position: absolute;
    width: 100px;
    height: 90px;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -50px;
    animation: beating .5s linear infinite alternate;
    
}

.heart:before, .heart:after{
    position: absolute;
    content: '';
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background:red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
} 

.heart:after{
    left:0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    
}

@keyframes beating{
    0%{
        transform:scale(1.5);

    }
    100%{
        transform:scale(1);
    }
}
 
